@import "tailwindcss";

@theme {
    --font-sans: 'Montserrat Variable', sans-serif;
    --anton: 'Anton', sans-serif;
}
/*
@layer base {
    h3 {
        @apply anton;
    }
}
*/

@layer components {
    .grille {
        @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
    }

    .noscroll {
        overflow: hidden;
    }
}

.hero-container {
    position: relative;
    top: -750px;
    height: 80vh;
    /* Assurez-vous que le conteneur a une hauteur fixe */
    overflow: hidden;
    /* Cache tout débordement */
}

.hero-image img {
    max-height: 80vh;
    /* Limite la hauteur de l'image à 80% de la hauteur de la fenêtre */
    width: auto;
    object-fit: contain;
    /* Assure que l'image reste contenue dans son conteneur */
}

/* Styles spécifiques pour les mobiles */
@media (max-width: 600px) {
    .hero-image img {
        transform: scale(2);
        transform-origin: center;
    }
}

