---
import "../styles/global.css";
import Base from "../layouts/Base.astro";
---

<Base titre="Accueil">
  <h1 class="text-3xl font-bold text-">Hello world!</h1>
  <p class="h-screen">Texte standard</p>
</Base>
