---
import LogoFooter from "../assets/icons/icon_logo.svg";
---

<footer class="bg-black h-full border-solid border-t-2 border-t-red-500">
    <a class="flex items-center ml-1.25 mt-1.25" href="/" aria-label="Accueil">
      <LogoFooter />
      <h3 class="text-white">Ça va trail'er</h3>
    </a>
</footer>
