---
import LogoFooter from "../assets/icons/icon_logo.svg";
import IconFacebook from "../assets/icons/icon_facebook-blanc.svg";
import IconInstagram from "../assets/icons/icon_insta-blanc.svg";
import IconTikTok from "../assets/icons/icon_tiktok-blanc.svg";
import IconYoutube from "../assets/icons/icon_youtube-blanc.svg";
import IconStrava from "../assets/icons/icon_strava-blanc.svg";
import Button from "../components/Button.astro";
---

<footer
  class="grille space-y-6 text-sm bg-black py-8 px-6 text-white items-center border-solid border-t-2 border-t-red-500"
>
  <a
    class="flex items-center gap-5 lg:col-span-3 lg:col-start-0"
    href="/"
    aria-label="Accueil"
  >
    <LogoFooter />
    <h3 class="uppercase text-white">Ça va trail'er</h3>
  </a>
  <div class="flex justify-center mt-1.25 mb-2.25 lg:col-span-0 lg:col-start-0">
    <Button variant="default" url="/signup" text="BILLETERIE" />
  </div>
  <nav
    class="flex flex-col items-center md:items-center mt-6 lg:col-span-3 lg:col-start-7"
  >
    <h3 class="mb-2 uppercase text-xl tracking-wide text-white lg:items-start">
      MENU
    </h3>
    <ul class="flex flex-col space-y-2 items-center">
      <li><a href="/page1" class="hover:underline">Contact</a></li>
      <li><a href="/page2" class="hover:underline">A propos</a></li>
      <li><a href="/page3" class="hover:underline">En savoir plus</a></li>
    </ul>
  </nav>
  <div class="text-white grid text-center lg:col-span-3 lg:col-start-10">
    <h3 class="text-xl mb-2">CONTACT</h3>
    <address class="not-italic lg:items-start">
      1 rue Paul Koepfler<br />90000 Belfort<br />
      <a href="tel:0384542727">03 84 54 27 27</a><br />
      <a href="mailto:cavatrailer@festival.com">cavatrailer@festival.com</a>
    </address>
  </div>
  <div
    class="flex flex-col items-center  md:justify-center space-y-4 md:space-y-0 md:space-x-6 lg:col-span-3 lg:col-start-10"
  >
    <h3 class="flex justify-center text-xl mb-2">NOUS SUIVRE</h3>
    <ul class="flex items-center gap-10">
      <li>
        <a href="https://facebook.com" aria-label="facebook">
          <IconFacebook />
        </a>
      </li>
      <li>
        <a href="https://instagram.com" aria-label="instagram">
          <IconInstagram />
        </a>
      </li>
      <li>
        <a href="https://youtube.com" aria-label="youtube">
          <IconYoutube />
        </a>
      </li>
      <li>
        <a href="https://strava.com" aria-label="strava">
          <IconStrava />
        </a>
      </li>
      <li>
        <a href="https://tiktok.com" aria-label="tiktok">
          <IconTikTok />
        </a>
      </li>
    </ul>
  </div>
  <div class="text-white lg:col-span-6 lg:col-start-5">
    <h3 class="text-center text-xl lg:text-start">MENTIONS LÉGALES</h3>
    <p class="text-center lg:text-start">
      © 2024 Ça va trail’er Festival - Tous droits réservés <br />
      [Mentions légales] | [Politique de confidentialité] | [Conditions générales]
    </p>
  </div>
</footer>
