---
import Logo from "../assets/icons/icon_logo.svg";
---

<header
  class="px-6 py-4 fixed z-10 w-full flex items-stretch justify-between transition-all duration-300 ease-in-out bg-black opacity-40"
>
  <div class="flex items-center gap-2">
    <a href="/" aria-label="Accueil">
      <Logo />
    </a>
    <h3 class="text-white">Ça va trai’ler</h3>
  </div>

  <button
    class="group relative z-20 flex h-6 w-8 flex-col justify-between *:h-[2px] *:w-full *:bg-white *:transition-all *:duration-300 *:ease"
    id="menu-btn"
    aria-label="Menu"
    aria-controls="menu"
    aria-expanded="false"
  >
    <span
      class="group-aria-expanded:translate-y-[10.5px] group-aria-expanded:rotate-45"
    ></span>
    <span class="group-aria-expanded:opacity-0"></span>
    <span
      class="group-aria-expanded:-translate-y-[10.5px] group-aria-expanded:-rotate-45"
    ></span>
  </button>

  <nav
    class="visible fixed z-10 inset-0 bg-(--color-indigo) text-2xl text-black opacity-100 transition-all duration-300 ease-in-out aria-hidden:invisible aria-hidden:opacity-0"
    id="menu"
    aria-hidden="true"
  >
    <ul class="mt-[25vh] mx-16 text-center">
      <li>
        <a class="block px-5 py-4" href="/films">Les films</a>
      </li>
      <li>
        <a class="block px-5 py-4" href="/invites">Les invités</a>
      </li>
      <li>
        <a class="block px-5 py-4" href="/programme">Le programme</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  // On cible les éléments à modifier
  const toggle = document.querySelector("#menu-btn");
  const nav = document.querySelector("#menu");
  const page = document.body;

  // Vérifier si les éléments existent avant d'ajouter l'événement
  if (toggle && nav) {
    toggle.addEventListener("click", () => {
      const isOpen = toggle.ariaExpanded === "true";
      const isClosed = !isOpen;
      // Mise à jour des attributs ARIA pour accessibilité
      toggle.ariaExpanded = String(isClosed);
      nav.ariaHidden = String(isOpen);
      page.classList.toggle("noscroll", isClosed);
    });
  }
</script>
