---
const {programmeImage} = Astro.props;
console.log(programmeImage);
---

<div class="program__day--left">
  <img src={programmeImage} alt="Programme" class="w-full h-full" />
  <div class="">
    <h3 class="">Lundi 15 avril 2025</h3>
    <p class="">
      Ouverture avec une projection spéciale et une rencontre avec Aurélien
      Dunand-Pallaz. Immersion totale dans l’univers du trail.
    </p>
  </div>
</div>
